.counter-container {
  text-align: center;
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  & > h1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.button-group {
  margin-top: 20px;

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: #00408d;
    }
  }
}
